---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Hero from "../components/Hero";
import AboutMe from "../components/AboutMe";
import Projects from "../components/Projects";
import GetInTouch from "../components/GetInTouch";
import Footer from "../components/Footer";
---

<Layout title="SA">
  <main class="h-auto">
    <Navbar client:load />
    <Hero />
    <AboutMe />
    <Projects />
    <GetInTouch />
    <Footer />
    <div id="anchor" class="element">test 6 (anchor)</div>
  </main>
</Layout>

<!-- 
const scrollToTop = () => {
  scroll.scrollToTop({
    duration: 1300,
    smooth: true,
  });
}; -->

<!--  onClick={scrollToTop} -->

<!-- <button>
  <Link
    activeClass="active"
    to="precios"
    duration={500} // Ajusta la duración de la animación en milisegundos
  >
    <p className="font-[300] text-[14px] mt-1 text-black underline">
      Ver precios y promociones
    </p>
  </Link>
</button> -->
<!-- 
<div
        id="precios"
        className="flex flex-col bg-[#131920] pl-[180px] text-white py-8 gap-2 xl:w-screen ml-[-18px]"
      > -->
